:root {
  --bg-color: #0d1117;
  --primary-color: #c3d0e5;
  --secondary-color: #9ba3b4;
  --secondary-color-hover: #d1d6de;
  --hero-text-color: #bdc5d8;
  --tertiary-color: #475569;
  --button-bg-color: #0078d4;
  --button-bg-color-hover: #0167b4;
  --button-secondary-bg-color: #272b30;
  --button-secondary-bg-color-hover: #3f444a;
  --icon-hover-bg-color: #2c2d2efb;
  --input-color: #b3bbcc;
  --primary-button-color: #ffffff;
  --secondary-button-color: #bec6d7;
  --hyperlink-primary-color: #4daafc;
  --hyperlink-secondary-color: #1f8bde;
  --feature-column-secondary-color: #9fb1d1;
  --primary-border-color: rgba(255, 255, 255, 0.12);
  --secondary-border-color: rgba(243, 243, 243, 0.265);
  --border-color-hover: rgba(255, 255, 255, 0.2);
  --banner-primary-color: #e6eefa;
  --banner-button-bg: #25292e;
  --extension-tile-bg: rgba(255, 255, 255, 0.04);
  --box-shadow-color: rgba(0, 0, 0, 0.36);
  --feature-icon-bg: #ffffff12;
  --banner-background-img: url("../assets/themes/dark-mode/copilot-free-banner-bg-dark.webp");
}

/* applies these styles on the elements with mentioned attribute-values. */
[data-theme="light"] {
  --bg-color: #ffffff;
  --primary-color: #242424;
  --secondary-color: #333333;
  --secondary-color-hover: #333333;
  --hero-text-color: #242424;
  --button-bg-color: #0078d4;
  --button-bg-color-hover: #0167b4;
  --button-secondary-bg-color: #eaeaea;
  --button-secondary-bg-color-hover: #ababab;
  --icon-hover-bg-color: #d3d7dafb;
  --input-color: #333333;
  --primary-button-color: #ffffff;
  --secondary-button-color: #333333;
  --hyperlink-primary-color: #1f8bde;
  --hyperlink-secondary-color: #0e88f1;
  --feature-column-secondary-color: #475569;
  --primary-border-color: rgba(0, 0, 0, 0.12);
  --secondary-border-color: rgba(0, 0, 0, 0.265);
  --border-color-hover: rgba(0, 0, 0, 0.2);
  --banner-primary-color: #1e1e1e;
  --banner-button-bg: #eaeaea;
  --extension-tile-bg: rgba(0, 0, 0, 0.01);
  --box-shadow-color: rgba(0, 0, 0, 0.36);
  --feature-icon-bg: rgba(0, 0, 0, 0.04);
  --banner-background-img: url(../assets/themes/light-mode/copilot-free-banner-bg-light.webp);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  background-color: var(--bg-color);
  padding-top: 58px;
}

a {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.announce-container {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  height: 50px;
  box-sizing: border-box;
}

.announcement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100vw;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-color);
}

.announcement p {
  margin: 8px 0px;
}

.announcement a {
  text-decoration: underline;
  color: var(--hyperlink-primary-color);
}

.dismiss img {
  width: 8px;
  padding: 11px;
  cursor: pointer;
  transition: background-color ease 0.3s;
}

.dismiss img:hover {
  background-color: var(--icon-hover-bg-color);
  border-radius: 5px;
}

.main-content {
  width: 1320px;
  margin: auto;
}

.hero-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: var(--hero-text-color);
  padding: 16px 0px;
}

.hero-text h1 {
  font-size: 72px;
  /* display: flex; */
  text-align: center;
  margin: 10px 0px 25px 0px;
}

.download-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-options {
  display: flex;
  justify-content: center;
}

.download-options .version {
  font-family: inherit;
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 4px;
  color: var(--primary-button-color);
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color ease 0.3s;
}

.download-options .version:hover {
  background-color: var(--button-bg-color-hover);
}

.download-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.download-label img {
  width: 16px;
  padding-right: 7px;
}

.download-options .version .platforms {
  font-size: 12px;
}

.get-copilot {
  background-color: var(--button-secondary-bg-color);
  margin-left: 5px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid var(--secondary-border-color);
  border-radius: 3px;
  cursor: pointer;
}

.get-copilot a {
  color: var(--secondary-button-color);
  text-decoration: none;
}

.get-copilot:hover {
  background-color: var(--button-secondary-bg-color-hover);
}

.alt-download-links {
  margin: 10px 0px;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.alt-download-links a {
  font-family: inherit;
  text-decoration: underline;
  color: var(--hyperlink-secondary-color);
  font-weight: 500;
}

.terms {
  color: var(--secondary-color);
  margin: 6px 0px;
  font-size: 11px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.terms a {
  color: inherit;
}

.download-options:hover ~ .terms {
  opacity: 1;
}

.hero-video-container {
  position: relative;
  /* padding: 0px 40px; */
}

.hero-video-container img {
  width: 1240px;
  border-radius: 24px;
}

.video-container {
  border-radius: 12px;
  position: absolute;
  width: 90%;
  height: 84%;
  top: 7%;
  left: 5%;
  overflow: hidden;
  box-shadow: 0px 2px 16px 0px var(--box-shadow-color);
}

.hero-content-container video {
  width: 100%;
}

.video-control {
  display: flex;
  justify-content: center;
}

#video-button {
  font-family: inherit;
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 20px;
  border: 2px solid transparent;
  padding: 8px 20px;
  margin-top: 12px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 500;
  border-radius: 6px;
  transition: border 0.3s ease;
}

#video-button:hover {
  border: 2px solid var(--primary-color);
}

.feature-columns {
  margin: 92px 0px 0px;
}

.feature-columns-container {
  padding: 0px 40px 0px;
  color: var(--secondary-button-color);
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 1320px;
  box-sizing: border-box;
}

.feature-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px;
  width: max-content;
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
  background-color: var(--extension-tile-bg);
  /* box-sizing: border-box; */
}

.feature-col h2 {
  display: block;
  font-size: 20px;
  letter-spacing: -0.8px;
  margin: 0px 0px 10px;
}

.feature-col p {
  font-size: 16px;
  font-weight: 500;
  display: inline;
  font-family: inherit;
  margin: 0px 0px 10px;
  color: var(--feature-column-secondary-color);
  line-height: 22px;
}

.feature-col img {
  width: 100%;
}

.banner {
  color: var(--banner-primary-color);
  background-image: var(--banner-background-img);
  background-size: cover;
  display: flex;
  flex-direction: row;
  margin: 48px 40px 48px;
  padding: 40px 0px;
  box-sizing: border-box;
  border-radius: 12px;
}

.banner .heading {
  flex: 1;
  padding: 0px 40px;
}

.banner .heading h2 {
  font-size: 30px;
  margin: 0px;
  line-height: 40px;
}

.banner .description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0px 40px;
}

.banner .description p {
  margin: 0px 0px 10px;
  font-weight: 500;
}

.banner .description button {
  font-family: inherit;
  font-size: 16px;
  color: var(--primary-color);
  padding: 6px 13px;
  background-color: var(--banner-button-bg);
  border: 1px solid var(--secondary-border-color);
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.banner .description button:hover {
  background-color: var(--button-secondary-bg-color-hover);
}

.standout-features {
  display: flex;
  padding: 48px 0px;
  align-items: center;
}

.description {
  flex: 1;
  padding: 0px 40px;
}

.description-secondary {
  margin: 0px 0px 24px;
}

.description h2 {
  margin: 0px 0px 10px;
  color: var(--primary-color);
  font-size: 30px;
}

.description p {
  margin: 0px 0px 10px;
  color: var(--feature-column-secondary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.description a {
  color: var(--hyperlink-primary-color);
  font-weight: 500;
}

.snap {
  width: 66.66666667%;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.standout-features .snap img {
  border: none;
  border-radius: 12px;
}

.extensions {
  display: flex;
  align-items: center;
  padding: 48px 0px;
  box-sizing: border-box;
}

.extension-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  mask-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
}

.extension-grid a {
  text-decoration: none;
}

.extension-grid h3 {
  color: var(--primary-color);
  margin: 2px 0px 0px;
  font-size: 16px;
  display: unset;
  line-height: 25px;
}

.extension-grid p {
  color: var(--feature-column-secondary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0px;
  display: unset;
}

.extension-grid-cell {
  padding: 16px;
  background-color: var(--extenstion-tile-bg);
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 12px;
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color ease 0.3s;
}

.extension-grid-cell:hover {
  border-color: var(--border-color-hover);
}

.cell-icon img {
  width: 40px;
}

.cell-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.extension-grid-caption {
  margin: 16px 0px 0px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.extension-grid-caption p {
  color: var(--secondary-color);
  margin: 0px 0px 16px;
}

.extension-grid-caption a {
  color: var(--hyperlink-primary-color);
}

.supported-languages {
  display: flex;
  padding: 48px 0px;
  align-items: center;
}

.language-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 8px;
}

.language-tile {
  color: var(--secondary-color);
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: start;
  font-size: 16px;
}

.icon img {
  width: 40px;
}

.language-name p {
  margin: 0px;
}

#sech2 {
  margin: 0px 0px 20px;
}

#primp {
  margin: 0px 0px 30px;
}

#secp {
  margin: 0px 0px 20px;
}

.rich-features {
  display: flex;
  flex-direction: column;
}

.rf-heading {
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0px;
}

.rf-heading h2 {
  color: var(--primary-color);
  font-size: 30px;
  margin: 0px;
  display: inline;
}

.rf-heading p {
  color: var(--feature-column-secondary-color);
  font-size: 16px;
  font-weight: 500;
  width: 500px;
}

.feature-grid {
  padding: 0px 40px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.feature-grid a {
  text-decoration: none;
}

.feature-card {
  padding: 24px;
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
  background-color: var(--extension-tile-bg);
  cursor: pointer;
  transition: border-color ease 0.3s;
}

.feature-card:hover {
  border-color: var(--border-color-hover);
}

.feature-icon img {
  width: 24px;
  padding: 12px;
  background-color: var(--feature-icon-bg);
  border-radius: 6px;
  margin: 0px 0px 20px;
}

.feature-card h3 {
  font-size: 16px;
  color: var(--primary-color);
  margin: 0px;
}

.feature-card p {
  padding: 8px 0px 0px 0px;
  margin: 0px;
  color: var(--feature-column-secondary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}

#version-control-icon {
  width: 18px;
  padding: 14px 16px;
}

#access-icon {
  padding: 16px 12px;
}

.footer-container {
  padding: 96px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.socials ul {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.socials ul li {
  list-style-type: none;
  padding: 0px 20px 0px 0px;
}

.links {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.links li {
  list-style-type: none;
  padding: 0px 20px 0px 0px;
}

.links a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: var(--feature-column-secondary-color);
}

#x-icon {
  width: 18px;
}

#github-icon {
  width: 24px;
}

#youtube-icon {
  width: 24px;
}

#ms-icon {
  width: 23px;
}
